@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-container__logo {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .nav-container__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem; }
    .nav-container__list * {
      font-size: 1.6rem; }
  .nav-container__item a:visited,
  .nav-container__item a:link {
    text-decoration: none;
    font-weight: 500;
    transition: color 200ms;
    color: #212529; }
  .nav-container__item a:hover,
  .nav-container__item a:active {
    cursor: pointer;
    color: #37b24d; }
  .nav-container__btn {
    color: #f8f9fa;
    background-color: #37b24d;
    padding: 0.75em 1.5em;
    border-radius: 0.3em; }
    .nav-container__btn:hover {
      cursor: pointer;
      background-color: #f03e3e;
      transition: background-color 200ms; }

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20rem;
  height: 100%; }
  @media screen and (max-width: 1440px) {
    .hero-container {
      margin-top: 6rem;
      gap: 6rem; } }
  @media screen and (max-width: 1100px) {
    .hero-container {
      gap: 5rem; } }
  @media screen and (max-width: 900px) {
    .hero-container {
      flex-direction: column;
      gap: 5rem;
      margin-top: 0; } }
  .hero-container__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem; }
    .hero-container__text-box * {
      margin: 0; }
    @media screen and (max-width: 1100px) {
      .hero-container__text-box {
        margin-top: 5rem; } }
    @media screen and (max-width: 900px) {
      .hero-container__text-box {
        margin-top: 0; } }
    @media screen and (max-width: 700px) {
      .hero-container__text-box {
        margin-top: 5rem; } }
  .hero-container__heading-primary {
    font-size: 6.4rem;
    letter-spacing: 2px;
    margin: 0;
    color: #37b24d; }
    @media screen and (max-width: 700px) {
      .hero-container__heading-primary {
        font-size: 4.8rem; } }
    @media screen and (max-width: 900px) {
      .hero-container__heading-primary {
        align-self: center; } }
  .hero-container__heading-secondary {
    font-size: 6.4rem;
    letter-spacing: 2px; }
    @media screen and (max-width: 1100px) {
      .hero-container__heading-secondary {
        font-size: 5.6rem; } }
    @media screen and (max-width: 700px) {
      .hero-container__heading-secondary {
        font-size: 4.8rem; } }
    @media screen and (max-width: 900px) {
      .hero-container__heading-secondary {
        align-self: center; } }
  .hero-container__text {
    font-size: 3.2rem;
    font-weight: 600; }
    @media screen and (max-width: 1100px) {
      .hero-container__text {
        font-size: 2.8rem; } }
    @media screen and (max-width: 900px) {
      .hero-container__text {
        align-self: center; } }
    @media screen and (max-width: 700px) {
      .hero-container__text {
        font-size: 3.2rem; } }
  .hero-container__btn:visited, .hero-container__btn:link {
    text-decoration: none;
    color: #f8f9fa;
    background: linear-gradient(120deg, #37b24d 0%, #37b24d 50%, #f03e3e 50%, #f03e3e 500%);
    background-size: 300%;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0.3em;
    margin-top: 2rem;
    transition: 500ms all; }
    @media screen and (max-width: 900px) {
      .hero-container__btn:visited, .hero-container__btn:link {
        align-self: center; } }
  .hero-container__btn:hover, .hero-container__btn:active {
    background-position: 100%; }
  .hero-container__img {
    width: 60rem; }
    @media screen and (max-width: 1440px) {
      .hero-container__img {
        width: 50rem; } }
    @media screen and (max-width: 900px) {
      .hero-container__img {
        width: 30rem; } }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  font-size: 62.5%;
  color: #212529;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 62.5%; } }

main {
  width: 140rem; }
  @media screen and (max-width: 1440px) {
    main {
      width: 120rem; } }
  @media screen and (max-width: 1100px) {
    main {
      width: 90rem; } }
  @media screen and (max-width: 900px) {
    main {
      width: 70rem; } }
  @media screen and (max-width: 700px) {
    main {
      width: 50rem; } }
