.hero-container {
  display: flex;
  align-items: center;
  gap: 20rem;

  @include laptop {
    gap: 10rem;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & * {
      margin: 0;
    }
  }

  &__heading-primary {
    font-size: 6.4rem;
    letter-spacing: 2px;
    margin: 0;
    color: $green;
  }

  &__heading-secondary {
    font-size: 6.4rem;
    letter-spacing: 2px;
  }

  &__text {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__btn:visited,
  &__btn:link {
    text-decoration: none;
    color: $white;
    background: linear-gradient(
      120deg,
      $green 0%,
      $green 50%,
      $red 50%,
      $red 500%
    );
    background-size: 300%;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0.3em;
    margin-top: 2rem;
    transition: 500ms all;
  }

  &__btn:hover,
  &__btn:active {
    background-position: 100%;
  }

  &__img {
    width: 60rem;

    @include laptop {
      width: 50rem;
    }
  }
}
