.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20rem;
  height: 100%;

  @include laptop {
    margin-top: 6rem;
    gap: 6rem;
  }

  @include tablet {
    gap: 5rem;
  }

  @include larger-phone {
    flex-direction: column;
    gap: 5rem;
    margin-top: 0;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & * {
      margin: 0;
    }

    @include tablet {
      margin-top: 5rem;
    }

    @include larger-phone {
      margin-top: 0;
    }

    @include phone {
      margin-top: 5rem;
    }
  }

  &__heading-primary {
    font-size: 6.4rem;
    letter-spacing: 2px;
    margin: 0;
    color: $green;

    @include phone {
      font-size: 4.8rem;
    }

    @include larger-phone {
      align-self: center;
    }
  }

  &__heading-secondary {
    font-size: 6.4rem;
    letter-spacing: 2px;

    @include tablet {
      font-size: 5.6rem;
    }

    @include phone {
      font-size: 4.8rem;
    }
    @include larger-phone {
      align-self: center;
    }
  }

  &__text {
    font-size: 3.2rem;
    font-weight: 600;

    @include tablet {
      font-size: 2.8rem;
    }
    @include larger-phone {
      align-self: center;
    }

    @include phone {
      font-size: 3.2rem;
    }
  }

  &__btn:visited,
  &__btn:link {
    text-decoration: none;
    color: $white;
    background: linear-gradient(
      120deg,
      $green 0%,
      $green 50%,
      $red 50%,
      $red 500%
    );
    background-size: 300%;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0.3em;
    margin-top: 2rem;
    transition: 500ms all;

    @include larger-phone {
      align-self: center;
    }
  }

  &__btn:hover,
  &__btn:active {
    background-position: 100%;
  }

  &__img {
    width: 60rem;

    @include laptop {
      width: 50rem;
    }

    @include larger-phone {
      width: 30rem;
    }
  }
}
